{% extends 'base.html.twig' %}

{% block body %}
	<img src="{{ asset('build/images/logo.png') }}"  class="img-fluid rounded mx-auto d-block" alt="logo">
	<div class="container justify-content-center text-center">
		<form class="form-inline md-form mx-auto my-3 d-flex input-group" action="{{ path('search') }}">
	        <input class="form-control mr-2 typeahead" type="search" name="q" data-suggest-url="{{ path('suggestion_search') }}" required autocomplete="off">
	        <button class="btn btn-outline-primary btn-rounded btn-sm my-0" type="submit"><i class="fas fa-search-plus fa-lg"></i></button>
	    </form>

	    {% for label, messages in app.flashes(['success', 'warning']) %}
		    {% for message in messages %}
		        <div class="alert alert-danger" role="alert">
		           {{ message }}
		        </div>
		    {% endfor %}
		{% endfor %}
	</div>

	<div class="container justify-content-center text-center border border-dark bg-info">
		<fieldset class="form-group border p-2">
			<legend class="w-auto">50 mots les plus fréquents <button class="text-warning plus btn btn-link remove"><i class="fas fa-plus-circle fa-lg"></i></button></legend>
			{% set inc = 1 %}
			{% for mots in listMots %}
				<div class ="row">
					{% for mot in mots %}
						<div class="col-sm-3 {% if inc > 20 %} removable {% endif %}">
							<a href="{{ path('search', {'q': mot.terme}) }}" class="text-dark">{{ mot.terme }}</a>
						</div>
						{% set inc = inc + 1 %}
					{% endfor %}
				</div>
			{% endfor %}
		</fieldset>
	</div>

{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('suggestion') }}
{% endblock %}
