{% extends 'base.html.twig' %}

{% block title %}Diko - {{ q|capitalize }} {% endblock %}

{% block body %}
	<a class="btn" href="{{ path('index') }}" role="button">
		<img src="{{ asset('build/images/little-logo.png') }}"  class="img-fluid rounded mx-auto d-block" alt="logo">
	</a>
	<h1 class="text-center">{{ q|capitalize }}</h1>
	<div class="container">
		{% if pos|length > 0 %}
			<p>
				<strong>Partie du discours :</strong>
				{% for item in pos|reverse %}
					{{ item.terme }} {% if not loop.last %},{% endif %}
				{% endfor %}
			</p>
		{% endif %}
		{% if lemme|length > 0 %}
			<p>
				<strong>Lemme :</strong>
				{% for item in lemme|reverse %}
					{{ item.terme }} {% if not loop.last %},{% endif %}
				{% endfor %}
			</p>
		{% endif %}
		{% if iL|length > 0 %}
			<p>
				<strong>Informations lexicales :</strong>
				{% for item in iL|reverse %}
					{{ item.terme }} {% if not loop.last %},{% endif %}
				{% endfor %}
			</p>
		{% endif %}
		{% if defs|length > 0 %}
		   	<h2>Définition {% if defs|length > 3 %}<button class="text-warning plus btn btn-link defs" data-id="def-1"><i class="fas fa-plus-circle fa-lg"></i></button>{% endif %}</h2>
			{% for def in defs %}
				<p {% if loop.index > 3 %}class="removable def-1"{% endif %}><strong>{{ loop.index }}</strong> {{ def|capitalize }}</p>
			{% endfor %}
		{% endif %}
		{% if defSeman|length > 0 %}
			<h2 class="title-sem removable">Définition <small>(sémantique)</small>{% if defSeman|length > 3 %}<button class="text-warning plus btn btn-link defs" data-id="def-2"><i class="fas fa-plus-circle fa-lg"></i></button>{% endif %}</h2>
			<div class="spinner-border text-info loading-div" role="status">
				<span class="sr-only">Loading...</span>
			</div>
			{% for def in defSeman|reverse %}
				<div class="findDef{% if loop.index > 3 %} removable def-2{% endif %}" data-url="{{ path('def', {q : def}) }}"></div>
			{% endfor %}
		{% endif %}
	</div>
	{% set inc = 1 %}
	<div class="container bg-info border border-dark">
		<fieldset class="form-group border p-2">
		<legend class="w-auto">Recherche <input type="checkbox" id="checkall" checked></legend>
			{% for array in listCheckBox %}
				<div class="row">
					{% for item in array %}
						<div class="col-sm-3">
							<div class="form-check">
						    	<input type="checkbox" class="form-check-input" id="{{inc}}" checked>
						    	<label class="form-check-label scroller" data-id="{{inc}}"><u>{{item}}</u></label>
						  	</div>
						</div>
					{% set inc = inc + 1 %}
					{% endfor %}
				</div>
		  	{% endfor %}
		</fieldset>
	</div>
	<div class="container" id="assos">
		{% for title,asso in assos %}
			<div class="row" id="asso-{{loop.index}}">
			{% for array in asso %}
					{% if array|length > 0 %}
						<div class="col-sm d-inline-block">
							<h2 class="inline">{% if loop.first %}<i class="fas fa-arrow-right fa-xs text-success">({{  array|length }})</i>{% else %}<i class="fas fa-arrow-left fa-xs text-danger">({{  array|length }})</i>{% endif %}{{ title|capitalize }}{% if array|length > 20 %}<button class="text-warning plus btn btn-link remove" data-id="remov-{{ loop.parent.loop.index }}-{{ loop.index }}"><i class="fas fa-plus-circle fa-lg"></i></button>{% endif %}</h2>
							{% for item in array|reverse|slice(0,20) %}
								<a href="{{ path('search', {'q': item.search}) }}">{{ item.terme }}</a> >
							{% endfor %}
							<div class="removable" id="remov-{{ loop.parent.loop.index }}-{{ loop.index }}">
								{% for item in array|reverse|slice(20,array|length) %}
									<a href="{{ path('search', {'q': item.search}) }}">{{ item.terme }}</a> >
								{% endfor %}
							</div>
						</div>
					{% endif %}
			{% endfor %}
			</div>
		{% endfor %}
	</div>
	<a href="javascript:" id="return-to-top" class="btn btn-secondary">
 		<i class="fas fa-arrow-circle-up"></i>
	</a>

{% endblock %}

{% block javascripts %}{{ encore_entry_script_tags('search') }}{% endblock %}